# Build results
bin/
obj/

# Rider / VSCode / VS
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Visual Studio files
*.dbmdl
*.bak
*.Backup
*.BLOB
*.CoreCompileInputs.cache
*.dll
*.exe
*.pdb

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
.nuget/
packages/
*.nuget.props
*.nuget.targets

# User secrets
secrets.json

# Entity Framework migrations backup
Migrations/

# Publish output
publish/
wwwroot/lib/

# Resharper
_ReSharper*/
*.DotSettings.user

# Azure
.publishsettings
