# VS/IDE
.vs/
*.user
*.suo
*.vcxproj.user
*.sln.docstates
*.sw? 
.idea/
*.DotSettings.user

# Build outputs
bin/
obj/
[Tt]emp/
[Bb]uild/
[Ll]og/

# Rider/Resharper
_ReSharper*/
*.csproj.user

# OS
Thumbs.db
.DS_Store

# ASP.NET Core
*.db
app.db
*.sqlite
*.sqlite3
# 구성 파일(비밀 분리 권장)
appsettings.Development.json
appsettings.*.local.json
secrets.json
